
<div id="drag-container">
    <div id="spin-container">
      <img usemap="selection1" src="../../../assets/images/HD-wallpaper-rolls-royce-car-logo-rr.jpg" alt="">
      <img src="../../../assets/images/HD-wallpaper-maserati-logo-car-grey-maseratie.jpg" alt="">
      <img src="../../../assets/images/bently.jpg" alt="">
      <img src="../../../assets/images/desktop-wallpaper-logo-lamborghini-lamborghini-logo-car-logos-luxury-car-logos-cool-lamborghini-logo.jpg" alt="">
      <img src="../../../assets/images/ferrari.jpg" alt="">
      <img src="../../../assets/images/audi.jpg" alt="">
      <p>Brands We Have</p>
    </div>
  </div>
  
