<p>contactus works!</p>
<div class="example1">
    <h1>CONTACT US FOR BEST DEALS!!!...</h1>
</div>
<div class="container">
    <div class="contactinfo">
        <div class="box">
            <div class="icon"><i class='bx bx-map'></i></div>
            <div class="text">
                <h3>Adress</h3>
                <p>No:007 Jamesbond Road<br>Chennai,Tamilnadu<br>600001</p>
            </div>
            <div class="box">
                <div class="icon"><i class='bx bx-envelope'></i></div>
                <div class="text">
                    <h3>E-mail</h3>
                    <p>lovelykabeer3@gmail.com</p>
                </div>
                <div class="box">
                    <div class="icon"><i class='bx bx-phone'></i></div>
                    <div class="text">
                        <h3>Phone Number</h3>
                        <p>9003587931</p>
                    </div>
                    <div class="styles">
                        <ul>
                            <li><a href="https://twitter.com/lovelykabeer3"><i class='bx bxl-twitter'></i></a>
                            </li>
                            <li><a href="https://www.instagram.com/90skid_kabeer/"><i
                                        class='bx bxl-instagram-alt'></i></a></li>
                            <li><a href="https://web.whatsapp.com/"><i class='bx bxl-whatsapp'></i></a></li>
                        </ul>
                    </div>
                    <div class="buton">
                        <button onclick="document.location='7 Testdrive.html'">Book an Testride</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="contactform">
        <form>
            <h2>Send Message</h2>
            <div class="inputbox">
                <input type="text" name="" required="required">
                <span>Full Name</span>
            </div>
            <div class="inputbox">
                <input type="E-Mail" name="" required="required">
                <span>E-Mail</span>
            </div>
            <div class="inputbox">
                <textarea required="required"></textarea>
                <span>Type Your Message...</span>
            </div>
            <div class="inputbox">
                <input type="submit" name="" value="send">
            </div>
        </form>
    </div>