<p>aboutus works!</p>
<b>

    <h1>
        <P>🏎BIGBOYS TOYZ</P>
    </h1>
</b>

<img src="../../../assets/images/bbt-mobile-logo1.png" style="float:left; width: 200px;  height: 150px" />
<img src="../../../assets/images/bbt-mobile-logo1.png" style="float: right;width: 200px; height: 150px" />

<hr style="height: 100px; ">

<table>
    <tr>
        <th><button type="button" class="btn-success" (click)="redirectTologin()">Login</button></th>
        <th><button type="button" class="btn-success" (click)="redirectToregister()">Register</button></th>
    </tr>
</table>
<div class="image">
    <img src="../../../assets/images/car.gif">
</div>