<p>register works!</p>
<div class="container">
    <div class="form-box">
        <form name="Formfill">
            <h1>USER REGISTRATION</h1>
            <P id="result"></P>
            <div class="form-group">
                <i class='bx bxs-user-circle'></i>
                <input type="text" name="Username" id="Username" placeholder="Username" class="form-control">
                <span id="result"> </span>
            </div>
            <div class="form-group">
                <i class='bx bx-lock-alt'></i>
                <input type="password" name="Password" id="Password" placeholder="Password" class="form-control">
                <span id="result"> </span>
            </div>
            <div class="form-group">
                <i class='bx bxs-lock-alt'></i>
                <input type="password" name="cPassword" id="cPassword" placeholder="cPassword" class="form-control">
                <span id="result"> </span>
            </div>
            <div class="form-group">
                <i class='bx bx-envelope'></i>
                <input type="email" name="Email" id="Email" placeholder="Email" class="form-control">
                <span id="result"> </span>
            </div>
            <div class="form-group">
                <i class='bx bx-mobile-alt'></i>
                <input type="number" name="MobileNumber" id="MobileNumber" placeholder="MobileNumber"
                    class="form-control">
                <span id="result"> </span>
            </div>
            <div class="form-group">
                <i class='bx bxs-user'></i>
                <input type="text" name="Fname" id="Firstname" placeholder="Firstname" class="form-control">
                <span id="result"> </span>
            </div>
            <div class="form-group">
                <i class='bx bxs-user'></i>
                <input type="text" name="Lname" id="Lastname" placeholder="Lastname" class="form-control">
                <span id="result"> </span>
            </div>
            <div class="form-group">
                <i class='bx bx-calendar'></i>
                <input type="date" name="dob" id="DOB" placeholder="Date Of Birth" class="form-control">
                <span id="result"> </span>
            </div>
            <div>
                <select class="State">
                    <optgroup label="TamilNadu">
                        <option>Chennai</option>
                        <option>Tuticorin</option>
                        <option>Tirunelveli</option>
                    </optgroup>
                    <optgroup label="Karnataka">
                        <option>Banglore</option>
                        <option>Udupi</option>
                        <option>Tumakuru</option>
                    </optgroup>
                    <optgroup label="Kerala">
                        <option>Wayanad</option>
                        <option>Kollam</option>
                        <option>Kozhikode</option>
                    </optgroup>
                    
                    
                </select>
            </div>
            <br>
            
            <div>
                <button type="button" class="btn-success">Submit</button>
            </div>
        </form>
    </div>
</div>
