body{
    display: flex;
    justify-content: center;
}

form{
    width: 28rem;
    height: 47rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: rgba(255,255,255,0.3);
    box-shadow: 0 8px 32px 0 rgba(31,38,135,0.8);
    border-radius: 30px;
}
h1{
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
}
.form-box .form-group{
    position: relative;
    justify-content: center;   
    margin: 10px 0;
    width: 380px;
    border-bottom: 1px solid #fff;
}

.form-box .form-group input{
    width: 350px;
    height: 40px;
    border: none;
    outline: none;
    padding: 0 20px 0 5px;
    color:black;
    font-size: 15px;
}
i{
    position: absolute;
    top: 13px;
    right: 0;
}

.btn{
    color:white;
    background: rgb(1, 1, 34);
    width: 100%;
    height: 50px;
    border-radius: 4px;
    outline: none;
    border: solid 2px black;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}
.group{
    display: flex;
    justify-content: space-between;
}
.group span a{
    color:black;
    position: relative;
    top: 10px;
    text-decoration: none;
    font-weight: 500;
}
.group a:focus{
    text-decoration: underline;
}
#result{
    color:red;
    font-weight: 600;
    position: relative;
    top: 25px;
    

}
.form-box .form-group ::placeholder{
    color: black;
}
button{
    background: transparent;
    border: none;
    outline: none;    
    font-weight: 500;
}
button:hover{
    background: rgb(55, 255, 0);
}




